<footer>
  <div class="container">

    <div class="footContact">
      <p>Contact us: <a class="emailAddress" href="mailto:peloozoidlabs@gmail.com">
          peloozoidlabs@gmail.com</a></p>
    </div>

    <div class="footSocial">
      <span>Follow us on: </span>
      <a href="https://www.facebook.com/PeloozoidLabs" target="_blank">
        <img  src="https://peloozoid.co.uk/assets/images/facebookLogo.png" alt="FB Link">
      </a>
      <a href="https://twitter.com/PeloozoidLabs" target="_blank">
        <img  src="https://peloozoid.co.uk/assets/images/twitterLogo.png" alt="Twitter Link">
      </a>
      <a href="https://www.instagram.com/peloozoidlabs" target="_blank">
        <img  src="https://peloozoid.co.uk/assets/images/instagramLogo.png" alt="Instagram Link">
      </a>
      <a href="https://www.reddit.com/user/PeloozoidLabs/" target="_blank">
        <img  src="https://peloozoid.co.uk/assets/images/redditLogo.png" alt="Reddit Link">
      </a>
      <a href="https://www.youtube.com/channel/UCFu-Ds0aW-ZIQVi-nJNsLXw?" target="_blank">
        <img  src="https://peloozoid.co.uk/assets/images/youtubeLogo.png" alt="YouTube Link">
      </a>
    </div>

  </div>
</footer>
